.hidden{
    visibility:hidden;
}
.unHiddenRed{
    visibility:visible;
     height:100px;
    width:200px;
    background-color:red;
}
.unHiddenGreen{
    visibility:visible;
     height:100px;
    width:200px;
    background-color:green;
}
.unHidden{
     visibility:visible;
}
#output{
    height:100px;
    width:200px;
 

}
